* {
	font-family: helvetica, arial, sans-serif;
}
.newGameId {
	margin-bottom: 1em;
}
.board {
	
	display: inline-block;
	width: 100%;
	
	position: relative;
	top: 0;
	left: 0;

}
.board:before {
	content: '';
	padding: 50% 0;
	display: block;
}

.board-rows {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.game-over {
	display: none;
	border-radius: 1rem;
	position: absolute;
	background: DarkGrey;
	background: hsla(0, 100%, 10%, 0.5);
	color: white;
	z-index: 10;	
	font-size: 5rem;
	text-align: center;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10;
	
}
.game-over span {
	display: block;
}

.replayBtn {
	font-size: 0.3em;
	color: black;
}
.replayStatus {
	display: block;
	font-size: 0.3em;
}

.collapse-button {
	display: none;
	margin-bottom: 2rem;
}
.square {
	background-color: green;
	background-color: hsla(165, 100%, 40%, 1);

	background-clip: content-box;

	padding: 1%;

	font-size: 1rem;
	border-radius: 3em;
	width: calc(100%  /3);
	height: 100%;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
.square:hover {
	background-color: DarkGreen;
	background-color: hsla(165, 100%, 20%, .5);

	transition: background .5s;
}



aside.gameInfo {
	display: inline-block;
}
.border-right {
	border-right: 3px solid gray;
}


.form {
	margin-bottom: 1em;
}

.form input {
	display: inline-block;
}
.form label {
	margin-right: 2em;
	display: inline;
}


.board-row {
	font-size: 0;
	width: 100%;
	height: calc(100%  /3);
	padding: 0 ;
}



.square img {
	border-radius: 2em;
	max-height: 85%;
	max-width: 85%;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-right: -50%;
}

.square span {
	font-size: 15rem;

	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-right: -50%;
	
}

.logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}
.gameInfo {
	font-size: 0;	
}
.gameInfo .player {
	font-size: 1.5rem;
	display: block;
	vertical-align: top;
	padding: 0.3rem;
	width: 50%;
}
p.playerName {
	font-size: 2.5rem;
	white-space: nowrap;
}
.playerImage {
	max-width: 100%;
	max-height: 100%;
	display: inline;
}
.game-status span {
	font-size: .7em;
}
label {
	font-weight: normal;
}
ol {
	list-style-type: none;
	padding-left: 0;
	counter-reset: counter;
}

ol li:before {
	content: "Step " counter(counter) ": ";
	counter-increment: counter;
	font-weight: bold;
}

ol .optional-item:before {
	content: "Step " counter(counter) " (optional): ";
}

@media (max-width: 768px) {
	.border-right {
		border-right: none;
		border-bottom: 3px solid gray;
	}
	p.playerName {
		font-size: 2rem;
		white-space: nowrap;
	}
	.gameInfo div {
		display: inline-block;
	}
	.gameInfo .player {
		display: inline-block;
	}
	.collapse-button {
		display: inline-block;
	}
	.game-status {
		display: inline;
		vertical-align: middle;
	}

}
@media(min-width: 990px) {
	.join-game-info {
		display: inline-block;
	}
}